@font-face {
	font-family: 'Luma-Light';
	src: url('../../fonts/luma-light/Luma-Light.eot');
	src: local('☺'),
       url('../../fonts/luma-light/Luma-Light.woff') format('woff'),
       url('../../fonts/luma-light/Luma-Light.ttf') format('truetype'),
       url('../../fonts/luma-light/Luma-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Luma-Regular';
	src: url('../../fonts/luma-regular/Luma-Regular.eot');
	src: local('☺'),
       url('../../fonts/luma-regular/Luma-Regular.woff') format('woff'),
       url('../../fonts/luma-regular/Luma-Regular.ttf') format('truetype'),
       url('../../fonts/luma-regular/Luma-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'luma-Semibold';
	src: url('../../fonts/luma-semibold/Luma-SemiBold.eot');
	src: local('☺'),
       url('../../fonts/luma-semibold/Luma-SemiBold.woff') format('woff'),
       url('../../fonts/luma-semibold/Luma-SemiBold.ttf') format('truetype'),
       url('../../fonts/luma-semibold/Luma-SemiBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body{
	font-family: 'Luma-Regular';
	font-size: 16px;
}
h1 ,h2,h3,h4 , h5, h6{
	font-family: 'luma-Semibold';
}

.table thead th{
	font-family: 'luma-Semibold';
	font-size: 14px;
}
.table td{
	font-size: 0.975rem;
}

.aligner {
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

/*rtl*/

.accordion > .card .card-header a{
    padding-left: 1.5rem;
    padding-right: 0;
}

.accordion > .card .card-header a:before{
	left: 0;
	right: auto;
}

.rtl .form-check .form-check-label input[type="checkbox"] + .input-frame::after{
	transform: none;
}
.rtl .form-check .form-check-label input[type="checkbox"] + .input-frame:before, .rtl .form-check .form-check-label input[type="checkbox"] + .input-frame:after{
	left: auto;
	right: -1px !important;
}

.offset-md-2 {
    margin-right: 16.66667%;
    margin-left:0;
}

.modal-body .form-group.row{
    padding: 11px 0 5px;
}
.modal-body label{
	margin-bottom: 0;
}
.footer{
	    font-family: inherit;
}

.btn-primary:hover, .swal2-modal .swal2-actions button.swal2-confirm:hover, .wizard > .actions a:hover{
	background: #49C0D4;
	border-color: #49C0D4;
}

.icon-count{
	margin-left: 0;
	margin-right: auto;
	background: #fff;
	color:#0C1427 ;
	display: inline-block;
	padding: 2px 10px;
	border-radius: 5px;
	min-width: 25px;
}

/*
.btn-primary{
	background: linear-gradient(to left bottom ,#F89719, #FF245C);
	transition: 0.4s;
	border-color: #F89719 ;
}
.btn-primary:hover{
	background: linear-gradient(to right top ,#F89719, #FF245C);
	transition: 0.4s;
}*/

.card-product{
	margin-bottom: 25px;
}

.icon_branch{
	margin-left: 10px;
	width: 18px;
}

.switch {
	position: relative;
	display: inline-block;
	width: 45px;
	height: 28px;
	margin-bottom: 0;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 20px;
	width: 10px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
	background-color: #15C247 !important;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

.offset-md-3 {
	margin-right: 25%;
	margin-left: 0;
}
.sidebar-brand > img{
	width: 40px;
	height: 35px;
	position: absolute;
	top: 12px;
}
.sidebar-brand strong{
	font-family: sans-serif;
	position: relative;
	right: 53px;
	font-weight: 100;
}
.nav-item a:hover svg {
	color: #FE0303 !important;
}
/*.filter_form .col-sm-2{*/
	/*max-width: 10.66667%;*/
/*}*/
.required_star{
	color: #FE0303 !important;
}
.nav-item.nav-category {
	font-size: 14px !important;
	margin-bottom: 10px !important;
}
.info_page span{
	/*border: 1px solid #15C247 !important;*/
	padding: 3px 8px !important;
	margin: 4px;
	background: #eee;
	border-radius: 5px;
}

.form-check-inline .form-check-input {
	position: static;
	margin-top: 6px;
	margin-left: 0.3125rem;
	margin-right: 0;
}


.form-check-inline {
	display: inline-flex;
	align-items: center;
	padding-left: 0;
	margin-left: 1.75rem;

	margin-right: 0 ;
}