.card-body table{
	margin-bottom: 20px;
}

@media (max-width: 767px) {
	.submit{
		margin-top: 15px;
	}
}
.switch {
	position: relative;
	display: inline-block;
	width: 52px;
	height: 27px;
	margin-top: 10px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 19px;
	width: 19px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
	background-color: #2196F3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 38px;
}

.slider.round:before {
	border-radius: 50%;
}

.filter_form .form-group label{
	margin-bottom: 0;
}
.filter {
	padding: 10px 1.5rem 6px !important;
}

.errors-messages li:last-child , .errors-messages{
	margin-bottom: 0 !important;
	padding-right: 0;
}
.select2-container{
	width: 100% !important;
}
.select2-search--dropdown .select2-search__field{
	border-color: #d6d7da;
}
.select2-container--default .select2-selection--single{
	border-color: #d6d7da;
}
.select2-container .select2-selection--single {
	height: 36px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
	line-height: 18px;
	padding-right: 0 ;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b:before{
	display: none;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
	top: 63%;
	left: 0;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
	direction: rtl;
}
.filter_form .form-group.row {
	padding: 6px 0;
}

.aligner {
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

span.apexcharts-legend-text {
	font-family: 'Luma-Regular' !important;
	font-size: 12px !important;
}
.apexcharts-legend-series {
	display: block;
}

.feather-12{
	width: 18px;
}

.table td img {
	width: 40px;
	border-radius: 0;
}
.sidebar-dark .sidebar .sidebar-body{
	background: #001A5C;
	border-right: 1px solid #001A5C;
}

.sidebar-dark .sidebar .sidebar-body .nav .nav-item .nav-link {
	color: #fff;
}

.sidebar-dark.rtl .main-wrapper .sidebar .sidebar-header {
	border-left: 1px solid #344258;
}
.sidebar-dark .sidebar .sidebar-header {
	background: #001A5C;
	border-bottom: 1px solid #344258;
	border-right: 1px solid #344258;
}

.sidebar-dark .sidebar .sidebar-body .nav .nav-item:hover .nav-link .link-title, .sidebar-dark .sidebar .sidebar-body .nav .nav-item.active .nav-link .link-title {
	color: red;
}

.sidebar .sidebar-body .nav .nav-item.active .nav-link .link-icon{
	color: red;
}

.btn-primary, .swal2-modal .swal2-actions button.swal2-confirm, .wizard > .actions a, .wizard > .actions a:hover {
	background: #001A5C;
	border-color: #001A5C;
}

.btn-danger:hover, .swal2-modal .swal2-actions button.swal2-cancel:hover{
	color: #fff;
	background-color: #FF0404;
	border-color: #FF0404;
}